<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
    <md-list flex>
        <md-list-item>
            <md-button ng-click="" ng-class="">
                <md-icon md-svg-icon="" class="avatar"></md-icon>
                menu 1
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ng-click="" ng-class="">
                <md-icon md-svg-icon="" class="avatar"></md-icon>
                menu 2
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ng-click="" ng-class="">
                <md-icon md-svg-icon="" class="avatar"></md-icon>
                menu 3
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>